
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
# Bundler cache
# IDE configurations
# Jekyll cache
# Misc
# NPM dependencies
# RubyGems
*.gem
.DS_Store
.bundle
.idea
.jekyll-cache
.jekyll-metadata
.preview/
.vscode/*
Gemfile.lock
_sass/vendors
_site
_site/
assets/js/dist
node_modules
package-lock.json
vendor
